profiles {
    standard {
        docker.enabled=true
        process {
            withName:sam_sort {
                cpus=12
            }
            withLabel:minimap {
                cpus=12
            }
            withLabel:cat {
                clusterOptions = "--cpus-per-task=2 --mem 5G --time=2:00:00"
            }
            withName:mosdepth {
                cpus=10
            }
            withName:multiqc {
                cpus=2
            }
            withLabel:deeptools {
                cpus=20
            }
        }
        params {
            out_dir="${launchDir}"
            in_dir=null
            ref_dir=null
            threads = 10
            csv = null
        }
    }
    test {
        docker.enabled=true
        process {
            withName:sam_sort {
                cpus=2
            }
            withLabel:minimap {
                cpus=4
            }
            withLabel:cat {
                clusterOptions = "--cpus-per-task=2 --mem 5G --time=2:00:00"
            }
            withName:mosdepth {
                cpus=4
            }
            withLabel:deeptools {
                cpus=4
            }
        }
        params {
            out_dir="${launchDir}"
            in_dir=null
            ref_dir=null
            threads = 10
            csv = null
        }
    }
    drac {
        process {
            executor = 'slurm'
            withName:sam_sort {
                clusterOptions = "--cpus-per-task=12 --mem 10G --time=6:00:00"
            }
            withLabel:minimap {
                clusterOptions = "--cpus-per-task=12 --mem 10G --time=12:00:00"
            }
            withLabel:cat {
                clusterOptions = "--cpus-per-task=2 --mem 5G --time=2:00:00"
            }
            withName:mosdepth {
                clusterOptions = "--cpus-per-task=10 --mem 10G --time=4:00:00"
            }
            withName:multiqc {
                clusterOptions = "--cpus-per-task=3 --mem 5G --time=1:00:00"
            }
            withLabel:deeptools {
                clusterOptions = "--cpus-per-task=20 --mem 30G --time=6:00:00"
            }
        }
        params {
            out_dir="${launchDir}"
            in_dir=null
            ref_dir=null
            threads = 10
            csv = null
        }
        apptainer {
            enabled=true
            autoMounts=true
            runOptions = "-B  /lustre05,/lustre06,/lustre07,/scratch,/project"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
        executor {
            pollInterval = '60 sec'
            submitRateLimit = '60/1min'
            queueSize = 100 
        }
    }
    test_drac {
        process {
            executor = 'slurm'
            withName:sam_sort {
                clusterOptions = "--cpus-per-task=2 --mem 2G --time=2:00:00"
            }
            withLabel:minimap {
                clusterOptions = "--cpus-per-task=4 --mem 2G --time=3:00:00"
            }
            withLabel:cat {
                clusterOptions = "--cpus-per-task=1 --mem 2G --time=1:00:00"
            }
            withName:mosdepth {
                clusterOptions = "--cpus-per-task=4 --mem 2G --time=3:00:00"
            }
            withName:multiqc {
                clusterOptions = "--cpus-per-task=1 --mem 1G --time=1:00:00"
            }
            withLabel:deeptools {
                clusterOptions = "--cpus-per-task=4 --mem 5G --time=3:00:00"
            }
        }
        params {
            out_dir="${launchDir}"
            in_dir=null
            threads = 10
            ref_dir=null
            csv = null
        }
        apptainer {
            enabled=true
            autoMounts=true
            runOptions = "-B  /lustre05,/lustre06,/lustre07,/scratch,/project"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
        executor {
            pollInterval = '60 sec'
            submitRateLimit = '60/1min'
            queueSize = 100 
        }
    }
}
